h1{
    /* border: solid;
    border-width: 3px;
    border-color: hsl(355, 87%, 39%); */

    /* We can do just one line */
    border: 4px solid rgb(29, 151, 88);
    border-radius: 10px;
}


p{
    border-top: 3px solid rgb(134, 17, 17);
    border-left: 3px dotted rgb(28, 28, 119);
    border-bottom: 3px dashed rgb(185, 148, 219);
    border-right: 3px inset rgb(108, 43, 20);
}