body{
    background-color: black;
}
h4{
    color: white;
}
h3{
    color: blue;
}
h5{
    color: white;
}

/* In css for id we use # */
#p1{
    background-color: yellowgreen;
    color: antiquewhite;
}
#p2{
    background-color: brown;
    color: whitesmoke;
}
#p3{
    background-color: red;
    color: aqua;
}

/* In css for class we use . */
.odd{
    color: deepskyblue;
}

.even{
    color: khaki;
}