* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  background-color: rgb(16, 203, 203);
  height: 70vh;
}

.box {
  background-color: white;
  border: 2px solid;
  height: auto;
  width: 50%;
  float: left;
  padding: 25px;
  text-align: center;
  min-height: 50%;
  max-height: 50%;
}
