.gallery{
    display: inline-block;
    border: 2px solid hsl(0, 2%, 60%);
    margin: 5px;
    width: 200px;
}

.gallery .description{
    padding: 10px;
    text-align: center;
}

.gallery:hover{
    border: 2px solid hsl(0, 2%, 20%);
}

.gallery img{
    width: 100%;
    height: auto;
}